/*set the rules for the entire page */
body{
  font-family: Arial, Helvetica, sans-serif
  font-size: 15px;
  line-height: 1.5;
background: lightgray;
 background-image:url("../images/tiny-squares.png");
}

/*container for everything to keep in place*/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  background-color:#ffffff;
  padding: 10px;

}

/*syling for my top row */
header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background:white;
  color: gray;
  padding: top 30px;
  border-bottom:darkslategray;
  border-bottom: 2px solid #cccccc;
}

/*get rid of default styling of links */
header a{
  color: darkslategray;
  text-decoration: none;
  font-size: 16px;
}

/*clean up navi */
header ul{
margin:0;
padding:0;

}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #name {
  float: left;
}

header #name h1{
margin:0;
}

header #highlightName{
  color:white;
  background-color: rgb(74, 170, 165);
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top: 20px
}

p #firstParagraph {
  float: left;
  display: inline;
}

form{
  width: 400px;
}

form #txtArea{
  height:300px;
}

.pagename{
  color:rgb(74, 170, 165) ;
}

.button{
  color:white;
  background-color: rgb(74, 170, 165);
  height: 36px;
  border: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

/*using a modified flexbox demo as seen on W3School */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.flex-container > div {
  background-color:rgb(74, 170, 165);
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;

}

footer {
  padding-top: 20px;
  background: rgb(102, 102, 102);
  text-align: center; 
  border-top: rgb(74, 170, 165) 3px solid;
  color:white;
}

.footer{
  flex-shrink: 0;
}
